#inventoryItem{
  position: relative;
  bottom: 50px;
}
#description{
  position: relative;
  top: 250px;
}
.btn{
  position: relative;
  top: 260px;
}

  body {
    padding: 0;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    bottom: 100px;
    background-color: rgb(48, 46, 46);
  }
  
 